.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  font-size: 3em;
  align-items: center;
  justify-content: center;
}

.bookings {
  text-align: left;
  font-size: 1.5em;
}
